<div style="background-color: #343a40; height: 65px; padding-top: 15px; margin-top: 450px;" ><div class="container" style="color: white; text-align: center;"> Copyright © TraderJournal.com 2020</div></div>
    </body>
</html>
