<!DOCTYPE html>
<html lang="en">
<head>

     <title>Trader Journal</title>

     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <link rel="stylesheet" href="css/bootstrap.min.css">
     <link rel="stylesheet" href="css/font-awesome.min.css">
     <link rel="stylesheet" href="css/aos.css">
     <link rel="stylesheet" href="css/owl.carousel.min.css">
     <link rel="stylesheet" href="css/owl.theme.default.min.css">

     <link rel="stylesheet" href="css/landingstyle.css">

</head>
<body>

     <section class="hero hero-bg d-flex justify-content-center align-items-center">
        
               <div class="container" style="margin-top: 100px;">
                    <div class="row">

                        <div class="col-lg-6 col-md-10 col-12 d-flex flex-column justify-content-center align-items-center">
                              <div class="hero-text">

                                   <h1 class="text-white" data-aos="fade-up">Trader Journal</h1>

                                   <a href="/trades" class="custom-btn btn-bg btn mt-3" data-aos="fade-up" data-aos-delay="100">Enter Now!</a>
                              </div>
                        </div>

                        <div class="col-lg-6 col-12">
                          <div class="hero-image" data-aos="fade-up" data-aos-delay="300">

                            <img style="width: 250px; height: 150px; border-radius: 650%;" src="https://images.pexels.com/photos/187041/pexels-photo-187041.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="img-fluid" alt="working girl">
                          </div>
                        </div>

                    </div>
               </div>
     </section>

     <section class="about section-padding pb-0" id="about">
          <div class="container">
               <div class="row">

                    <div class="col-lg-7 mx-auto col-md-10 col-12">
                         <div class="about-info">

                              <h2 class="mb-4" data-aos="fade-up">Track your progress with <strong>Trader Journal</strong> </h2>

                              <p class="mb-0" data-aos="fade-up">We are dedicated to helping novice and veteran traders succeed. Whether your a day trader, swing trader or investor, it is important to keep a record of your trades. Learn from your mistakes and don't 
                                  be destined to repeat them! While journaling at <a href="/trades"><strong>Trader Journal</strong></a>, you'll build a backtested systematic strategy to trade with. The goal is to take emotions out of trading with a systematic approach. 
                              </p>
                         </div>

                         <div class="about-image" data-aos="fade-up" data-aos-delay="200">

                          <img src="https://images.unsplash.com/photo-1535320903710-d993d3d77d29?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" style="border-radius: 25px" class="img-fluid" alt="office">
                        </div>
                    </div>


     </section>


     <section class="project section-padding" id="project">
          <div class="container-fluid">
               <div class="row">

                    <div class="col-lg-12 col-12">

                        <h2 class="mb-5 text-center" data-aos="fade-up">
                            Please look through some
                            <a href="/trades"><strong>Recent Posts</strong></a>
                        </h2>

                        
                          

                    </div>        

               </div>
          </div>
     </section>

     <section class="testimonial section-padding">
                    <div class="row">
                    <div class="col-lg-3 col-md-3 col-0"></div>

                    <div class="col-lg-6 col-md-7 col-12" style="text-align: center;">
                      <h4 class="my-5 pt-3" data-aos="fade-up" data-aos-delay="100">What is Systematic Trading?</h4>

                      <div class="quote" data-aos="fade-up" data-aos-delay="200"></div>

                      <h2 class="mb-4" data-aos="fade-up" data-aos-delay="300"></h2>

                      <p data-aos="fade-up" data-aos-delay="400">
                        <strong>Systematic Trading</strong>

                        

                        <small>entails only trading when your defined edge appears in the market. A specific set of criteria to validate trades must first be met, before any trades are taken. This style of trading greatly curtails and in some cases even eliminates guessing, emotion, and "feel".
                         Every trade must meet your defined criteria (chart pattern, entry point, defined risk levels, and many other factors) that are statistically proven to be profitable. Of course, <a href="/trades"><strong>Trader Journal</strong></a> is with you on your journey to create a proven and profitable system to trade with. <a href="/register">Join</a> today and begin building your own unique system! <br><br>
                         The more you journal your trades the more data you'll have to analyse. With the data (trades) recorded in your journal, you can sort by winning long trades, losing short trades, etc. and you can see what works for you and what doesn't. Our application automatically calculates your winning percentage, losing percentage and much more! Additionally, as you look through the entries in your journal you can get a visual representation of your strengths and weaknesses via screenshots of your past trades. 

                         This is how your system will begin to sprout. Recognize your winning patterns (and losing ones!). Once you have some data, you can refine your strategy over and over until you reach profitability    !</small>  

                      </p>
                    </div>

               </div>
          </div>
          <div class="col-lg-3 col-md-3 col-0"></div></div>
     </section>


    <footer class="site-footer">
      <div class="container">
        <div class="row">

          <div class="col-lg-5 mx-lg-auto col-md-8 col-10">
            <h1 class="text-white" data-aos="fade-up" data-aos-delay="100">A <strong>Systematic</strong> Approach to Trading</h1>
          </div>

          <div class="col-lg-3 col-md-6 col-12" data-aos="fade-up" data-aos-delay="200">
            <h4 class="my-4">Contact Us</h4>

            <p class="mb-1">
              <!-- <i class="fa fa-phone mr-2 footer-icon"></i>  -->
             
            </p>

            <p>
              <a href="#">
                <i class="fa fa-envelope mr-2 footer-icon"></i>
                support@traderjournal.com
              </a>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 col-12" data-aos="fade-up" data-aos-delay="300">
            <h4 class="my-4"></h4>

            <p class="mb-1">
             
            </p>
          </div>

          <div class="col-lg-4 mx-lg-auto text-center col-md-8 col-12" data-aos="fade-up" data-aos-delay="400">
            <p class="copyright-text">Copyright &copy; 2020 Trader Journal
            <br>
          </div>

          <div class="col-lg-4 mx-lg-auto col-md-6 col-12" data-aos="fade-up" data-aos-delay="500">

        </div>
      </div>
    </footer>


     <script src="js/jquery.min.js"></script>
     <script src="js/bootstrap.min.js"></script>
     <script src="js/aos.js"></script>
     <script src="js/owl.carousel.min.js"></script>
     <script src="js/smoothscroll.js"></script>
     <script src="js/custom.js"></script>

</body>
</html>